<div id="<%=ticker.ticker %>" class="bg-[#fafafa]">
  <p class="my-5">
    <strong class="block font-medium mb-1">Ticker:</strong>
    <%= ticker.ticker %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Assettype:</strong>
    <%= ticker.assetType %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= ticker.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Assettype:</strong>
    <%= ticker.assetType %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Isactive:</strong>
    <%= ticker.isActive %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tiingopermaticker:</strong>
    <%= ticker.permaTicker %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Openfigiticker:</strong>
    <%= ticker.openFIGI %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this ticker", ticker, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
